HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven generated
target/
*.jar
*.war
*.ear
*.tar.gz
# Eclipse metadata
.metadata
.plugins/
.settings/
.project
.classpath


### VS Code ###
.vscode/

# Log files & OS files
*.log
.DS_Store
Thumbs.db
